#entireScreen{
	height:100%;
	width:100%;
	background:yellow;
}
#header{
	height:10%;
	width:100%;
	background:#D4AC0D ;
}

#body{
	height:80%;
	width:100%;
	background:#FCF3CF;
}

#footer{
	height:10%;
	width:100%;
	background:#F1C40F;
}

#filter{
	height:100%;
	width:10%;
	background:#F4D03F;
	float:left;
}


#productDisplay{
	height:100%;
	width:90%;
	background:white;
	float:left;
}